<% var completeStatus = task.get("complete") ? "complete" : "incomplete" %>

<td>
  <span class="task-<%= completeStatus %>">
    <input type="checkbox" class="task-checked"
                           data-id="<%=task.id %>" checked>
    <input type="checkbox" class="task-unchecked"
                           data-id="<%=task.id %>">
    <%= task.escape('title') %>
  </span>
  <a href="#" class="today-remove-task" data-id="<%= task.id %>">Delete</a>  
  <a href="#" class="today-do-later" data-id="<%= task.id %>">Not Today</a>  
</td>