<% var todayStatus = task.get("today") ? "today" : "later" %>
<% var completeStatus = task.get("complete") ? "complete" : "incomplete" %>

<td>
<!-- Checkboxes -->
  <span class="task-<%= completeStatus %>">
    <input type="checkbox" class="task-checked"
                           data-id="<%=task.id %>" checked>
    <input type="checkbox" class="task-unchecked"
                           data-id="<%=task.id %>">
  </span>

  <!-- Task Title -->
  <span class="task-<%=completeStatus %> task-title">
    <%= task.escape("title") %>
  </span>

  <span class="task-options">
    <% if (viewType === "todayView") { %>
      <a href="#" class="task-open-timer" data-id="<%= task.id %>">Start</a>
    <% } %>
    <!-- Edit -->
    <a href="#" class="task-edit-link" data-id="<%= task.id %>">Edit</a>

    <!-- Remove Task -->
    <a href="#" class="list-remove-task" data-id="<%= task.id %>">Delete</a>

    <!-- doLater/doToday -->
    <span class="<%= todayStatus %>">
      <a href="#" class="list-do-later" data-id="<%= task.id %>">Not Today</a>
      <% if (viewType !== "todayView") { %>
        <a href="#" class="list-do-today" data-id="<%= task.id %>">Today</a>
      <% } %>
    </span>
    <!-- Actual/Expected Pomodoros -->
    <%= task.get("pomodoro_actual")%>/<%= task.get("pomodoro_expected")%>
  </span>
</td>
<!-- Edit Form -->
<td>
  <form class="task-edit" data-id="<%= task.id %>">
    <input type="text" 
           data-id="<%= task.id %>"
           name="task[title]"
           class="task-edit-form hidden"
           value="<%= task.escape('title') %>">
  </form>
</td>

<!-- Timer Box -->
<td>
  <div class="timer-window hidden">
    <div class="timer-content">
      I'm a timer box!
      <div class="timer-time">25:00</div>
      <br>
      <a href="#" class="task-begin-timer" data-id="<%= task.id %>">Start</a>
      <a href="#" class="task-reset-timer" data-id="<%= task.id %>">Reset</a>
      <a href="#" class="task-close-timer" data-id="<%= task.id %>">Close</a>
    </div class="timer-content">
  </div>
</td>

