<div id="tasksView-title">
  <% if (viewType === "tasksView")  { %>
  <%= listTitle %>
  <% } else if (viewType === "todayView") { %>
  Today
  <% } else { %>
  Unplanned
  <% } %>
</div>

<div id="task-overall-info">  
  <!-- Completed Tasks -->
  <% var completedTasks = _.where(tasks.toJSON(), {complete: true}) %>
  
  <!-- Pending Tasks -->
  <% var pendingTasks = _.where(tasks.toJSON(), {complete: false}); %>
  
  <!-- Actual Pomodoros Count -->
  <% var actualPomodorosCount = _.flatten(_.map(tasks.toJSON(), function(task) {
    return task.pomodoro_actual })
    ); %>
  <% var pomAchieved = _.reduce(actualPomodorosCount, function(memo,num){
    return memo+num 
    }, 0); %>

  <!-- Pending Pomodoros Count -->
  <% var expectedPomodorosCount = _.flatten(_.map(pendingTasks, function(task) {
    return task.pomodoro_expected })
    ); %>
    
    <% var pomPending = _.reduce(expectedPomodorosCount, function(memo,num){ 
      return memo+num 
      }, 0); %>

    <span class="glyphicon glyphicon-check"></span>: <%= completedTasks.length %>
    <span class="glyphicon glyphicon-unchecked"></span>: <%= pendingTasks.length %>
  <span class="glyphicon glyphicon-star"></span>: <%= pomAchieved %>
  <span class="glyphicon glyphicon-star-empty"></span>: <%= pomPending %>
</div>

<div id="task-view-content" class="clearfix">
    <center>
  <% if (viewType === "tasksView")  { %>
    <!-- Add Task Button -->
      <button type="button" 
              id="show-task-form"
              class="btn btn-danger">Add New Task</button>

    <!-- Add Task Form -->
      <form id="task-form" 
           class="hidden clearfix input-group">
        <input type="text" name="task[title]" id="task-input-field" class="form-control">
        <a class="input-group-addon glyphicon glyphicon-plus"
              id="submit-task-form"></a>
        <a class="input-group-addon glyphicon glyphicon-remove"
              id="remove-task-form"></a>
      </form>
  <% } else { %>
    <!-- Start Timer Button -->
      <button type="button" 
              id=""
              class="btn btn-danger task-first-timer">Start First Task</button>
  <% } %>
  </center>

  <!-- render tasks views here -->
  <ul id="task-content" class="list-group"></ul>
  <br>
</div>

<% if (viewType === "todayView") { %>
  <div id="task-alert" class="alert alert-danger" style="display: none;">
    No task to start! Add one to your today list first.
  </div>
<% } %>

  <!-- Timer Box -->
<% if (viewType === "todayView") { %>
  <div id="timer-window" class="hidden">
    <center>
      <div class="timer-title"></div>
      <div class="timer-time">25:00</div>
      <br>
      <div class="timer-actions">
        <a href="#" class="task-begin-pomodoro btn btn-danger">Pomodoro</a>
        <a href="#" class="task-begin-sbreak btn btn-danger">Short Break</a>
        <a href="#" class="task-begin-lbreak btn btn-danger">Long Break</a>
        <a href="#" class="task-close-timer btn btn-danger">Close</a>
      </div>
  </center>
  </div>
<% } %>

<script>
  $(function() {    
    // Display Add Task Form
    $('#show-task-form').click(function() {
      $('#show-task-form').addClass('hidden');
      $('#task-form').removeClass('hidden');
      $('#task-input-field').focus();
    });
    
    // Remove Add Task Form
    $('#remove-task-form').click(function() {
      $('#task-form').addClass('hidden');
      $('#show-task-form').removeClass('hidden');
    });
    
    // Hover Effect on List
    $("ul").on('mouseenter', '.task-item', 
      function() {
        $(this).find(".remove-task").removeClass("hidden");
        $(this).find(".task-open-timer").removeClass("hidden");
        $(this).find(".do-control").removeClass("hidden"); }
      );
    $("ul").on('mouseleave', '.task-item', 
      function() {
        $(this).find(".remove-task").addClass("hidden");
        $(this).find(".task-open-timer").addClass("hidden");
        $(this).find(".do-control").addClass("hidden"); }
    );  
  });
</script>