<% var completedTasks = tasks.numCompletedTasks() %>
<% var pendingTasks = tasks.numPendingTasks() %>
<% var pomodorosAchieved = tasks.numPomodorosAchieved() %>
<% var pomodorosExpected = tasks.numPomodorosExpected() %> 

<!-- List Title based on viewType -->
<div id="tasksView-title"><%= listTitle %></div>

<div id="task-overall-info">  
  <span class="glyphicon glyphicon-check"></span>: <%= completedTasks %>
  <span class="glyphicon glyphicon-unchecked"></span>: <%= pendingTasks %>
  <span class="glyphicon glyphicon-star"></span>: <%= pomodorosAchieved %>
  <span class="glyphicon glyphicon-star-empty"></span>: <%= pomodorosExpected %>
</div>

<div id="task-view-content" class="clearfix">
    <center>
  <!-- Add Task Button/Form if tasksView -->
  <% if (viewType === "tasksView")  { %>
      <button type="button" 
              id="show-task-form"
              class="btn btn-danger">Add New Task</button>

      <form id="task-form" 
           class="hidden clearfix input-group">
        <input type="text" name="task[title]" id="task-input-field" class="form-control">
        <a class="input-group-addon glyphicon glyphicon-plus"
              id="submit-task-form"></a>
        <a class="input-group-addon glyphicon glyphicon-remove"
              id="remove-task-form"></a>
      </form>
  <!-- Start Timer Button if todayView -->
  <% } else if (viewType === "todayView") { %>
      <button type="button" 
              class="btn btn-danger task-first-timer">Start First Task</button>
  <% } %>
  </center>

  <!-- render individual tasks -->
  <ul id="task-content" class="list-group"></ul>
  <br>
</div>

<!-- Alerts -->
<% if (viewType === "tasksView") { %>
  <div id="add-task-alert" class="alert alert-danger" style="display: none;">
    Tasks must have a title!
  </div>
<% } %>

<% if (viewType === "todayView") { %>
  <div id="timer-alert" class="alert alert-danger" style="display: none;">
    No task to start! Move a task to your today list to start the timer.
  </div>
<% } %>
  
<!-- Timer Box for todayView -->
<% if (viewType === "todayView") { %>
  <div id="timer-window" class="hidden">
    <center>
      <div class="timer-title"></div>
      <div class="timer-time">25:00</div>
      <br>
      <!-- Unplanned Tasks Form -->
      <form id="unplanned-task-form" class="clearfix input-group">
        <label for="unplanned-input">Add Unplanned Task</label>
        <input type="text" name="unplanned_task[title]" id="unplanned-input" class="form-control">
      </form>
      <br>
      <div class="timer-actions">
        <a href="#" class="task-begin-pomodoro btn btn-danger">Pomodoro</a>
        <a href="#" class="task-begin-sbreak btn btn-danger">Short Break</a>
        <a href="#" class="task-begin-lbreak btn btn-danger">Long Break</a>
        <a href="#" class="task-close-timer btn btn-danger">Close</a>
      </div>
  </center>
  </div>
<% } %>
