<% var todayStatus = task.get("today") ? "today" : "later" %>
<% var completeStatus = task.get("complete") ? "complete" : "incomplete" %>

<td>
<!-- Checkboxes -->
  <span class="task-<%= completeStatus %>">
    <a href="#" class="task-checked glyphicon glyphicon-check"
                data-id="<%=task.id %>"></a>
    <a href="#" class="task-unchecked glyphicon glyphicon-unchecked"
                data-id="<%=task.id %>"></a>
  </span>

  <!-- todayView/unplannedView doLater -->
  <% if (viewType === "todayView") { %>
    <span class="<%= todayStatus %> do-control hidden task-options">
      <a href="#" class="do-later glyphicon glyphicon-arrow-left tov-left" data-id="<%= task.id %>"></a>
    </span>
  <% } %>

  <!-- Open Timer Window -->
  <% if (viewType === "todayView") { %>
    <a href="#" class="hidden task-open-timer glyphicon glyphicon-dashboard task-options" data-id="<%= task.id %>" style="top: 2px; left: -1px"></a>
  <% } %>
  
  <!-- Task Title -->
  <span class="task-<%=completeStatus %> task-title">
    <%= task.escape("title") %>   <%= task.get("pomodoro_actual")%>/<%= task.get("pomodoro_expected")%>
    <a href="#" class="edit-pomodoro "></a>
  </span>

  <!-- Remove Task -->
  <a href="#" class="hidden remove-task glyphicon glyphicon-remove rmt-<%= viewType %> task-options" data-id="<%= task.id %>"></a>

  <!-- tasksView doLater/doToday -->
  <% if (viewType === "tasksView") { %>
    <span class="<%= todayStatus %> do-control hidden task-options">
        <a href="#" class="do-later glyphicon glyphicon-arrow-right tav-right" data-id="<%= task.id %>"></a>
        <a href="#" class="do-today glyphicon glyphicon-arrow-right tav-right" data-id="<%= task.id %>" style="color: grey"></a>
    </span>
  <% } %>
</td>
<!-- Edit Form -->
<td>
  <form id="task-edit" class="input-group" data-id="<%= task.id %>">
    <input type="text" 
           data-id="<%= task.id %>"
           name="task[title]"
           class="task-edit-form form-control hidden"
           value="<%= task.escape('title') %>">
  </form>
</td>
