<% var todayStatus = task.get("today") ? "today" : "later" %>
<% var completeStatus = task.get("complete") ? "complete" : "incomplete" %>

<td data-id="<%= task.id %>">
  <span class="task-<%= completeStatus %>">
    <input type="checkbox" class="task-checked"
                           data-id="<%=task.id %>" checked>
    <input type="checkbox" class="task-unchecked"
                           data-id="<%=task.id %>">
    <%= task.escape("title") %>
  </span>
  <a href="#" class="list-remove-task" data-id="<%= task.id %>">Delete</a>
  <span class="<%= todayStatus %>">
    <a href="#" class="list-do-later" data-id="<%= task.id %>">Not Today</a>
    <a href="#" class="list-do-today" data-id="<%= task.id %>">Today</a>
  </span>
</td>
  
<style>
  .today .list-do-today {
    display: none;
  }

  .later .list-do-later {
    display: none;
  }
  
  .task-complete {
    text-decoration: line-through;
    color: grey;
  }
  
  .task-complete .task-unchecked { display: none; }
  .task-incomplete .task-checked { display: none; }
  
</style>