<% var todayStatus = task.get("today") ? "today" : "later" %>

<td>
  <%= task.escape("title") %>
  <a href="#" class="list-remove-task" data-id="<%= task.id %>">Delete</a>
  <span class="<%= todayStatus %>">
    <a href="#" class="list-do-later" data-id="<%= task.id %>">Not Today</a>
    <a href="#" class="list-do-today" data-id="<%= task.id %>">Today</a>
  </span>
</td>
  
<style>
  .today .list-do-today {
    display: none;
  }

  .later .list-do-later {
    display: none;
  }
</style>