<% var completedTasks = lists.numCompletedTasks() %>
<% var pendingTasks = lists.numPendingTasks() %>
<% var pomodorosAchieved = lists.numPomodorosAchieved() %> 

<% var completedTasksText = (completedTasks === 1) ? "Task" : "Tasks" %>
<% var pendingTasksText = (pendingTasks === 1) ? "Task" : "Tasks" %>
<% var pomodorosText = (pomodorosAchieved === 1) ? "Pomodoro" : "Pomodoros" %>

<!-- <div id="date-info">
  <% var now = new Date() %>
  <% var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday',
  'Friday','Saturday']; %>
  <% var months = ['January','February','March','April','May','June','July',
  'August','September','October','November','December']; %>

  <%= months[ now.getMonth() ] %> <%= now.getDate() %>
  <br>
  <%= days[ now.getDay() ] %>
  <br><br>
</div> -->

<!-- Fix Date above -->
<div id="date-info">
My Lists
</div>

<div id="lists-overall-info">
  <span class="glyphicon glyphicon-check"></span>: <%= completedTasks %> <%= completedTasksText %> Done
  <br>
  <span class="glyphicon glyphicon-unchecked"></span>: <%= pendingTasks %> <%= pendingTasksText %> Pending
  <br>
  <span class="glyphicon glyphicon-star"></span>: <%= pomodorosAchieved %> <%= pomodorosText %>
  <br>
</div>

<!-- Add New List Button-->
<center>
  <button type="button" 
          id="show-list-form"
          class="btn btn-danger">Add New List</button>
<!-- Add List Form -->
  <form id="list-form" 
       class="hidden clearfix input-group">
    <input type="text" name="list[title]" id="list-input-field" class="form-control">
    <a class="input-group-addon glyphicon glyphicon-plus"
          id="submit-list-form"></a>
    <a class="input-group-addon glyphicon glyphicon-remove"
          id="remove-list-form"></a>
  </form>
</center>

<!-- render individual lists -->
<ul id="list-items" class="list-group">
</ul>

<!-- Alerts -->
<div id="add-list-alert" class="alert alert-danger" style="display: none;">
  Lists must have a title!
</div>

<div id="remove-list-alert" class="alert alert-danger" style="display: none;">
  Woah there. You should have at least one list!
</div>

