<% if (lists.toJSON().length > 0)  { %>
  <div id="overall-info" style="float: left; text-align: left">
    <div id="date-info">
      <!-- Date Info -->
      <% var now = new Date() %>
      <% var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday',
      'Friday','Saturday']; %>
      <% var months = ['January','February','March','April','May','June','July',
      'August','September','October','November','December']; %>

      <%= months[ now.getMonth() ] %> <%= now.getDate() %>
      <br>
      <%= days[ now.getDay() ] %>
      <br><br>
    </div>
    <div id="task-info">
      <!-- Completed Task Count -->
      <% var taskCountComplete = _.map(lists.toJSON(), function(list) { 
        return _.where(list.tasks, {complete: true}).length 
        }); %>
      <% var completedTasks = _.reduce(taskCountComplete, function(memo, num){ 
        return memo+num 
        }, 0); %>
      
      <!-- Pending Task Count -->
      <% var taskCountPending = _.map(lists.toJSON(), function(list) { 
        return _.where(list.tasks, {complete: false}).length 
        }); %>
      <% var pendingTasks = _.reduce(taskCountPending, function(memo, num){ 
        return memo+num 
        }, 0); %>
      
        <!-- Pomdoros Achieved -->
      <% var pomodorosCount = _.flatten(_.map(lists.toJSON(), function(list) {
        return _.map(list.tasks, function(task) { return task.pomodoro_actual }) 
          })
        ); %>
      <% var pomodorosAchieved = _.reduce(pomodorosCount, function(memo, num){ 
        return memo+num 
        }, 0); %>
      
      Tasks Complete: <%= completedTasks %>
      <br>
      Tasks Pending: <%= pendingTasks %>
      <br>
      Pomodoros Achieved: <%= pomodorosAchieved %>
      <br><br>
    </div>
  </div>
<% } %>


<div class="clearfix">
Lists
<br>
<!-- Show List Form Button-->
<button id="show-list-form" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
  <span class="ui-button-text">Add New List</span>
</button>

<div id="list-utility" class="hidden">
  <form id="list-form">
    <input type="text" name="list[title]">
    <!-- Add Task Button -->
    <button class="ui-state-default ui-corner-all" title=".ui-icon-plusthick" id="submit-task-form">
      <span class="ui-icon ui-icon-plus"></span>
    </button>
  </form>
  <!-- Remove Form Button -->
  <button class="ui-state-default ui-corner-all" title=".ui-icon-close" id="remove-list-form">
    <span class="ui-icon ui-icon-close"></span>
  </button>
</div>

<div style="clear: both;"></div>

<ul id="lists-sortable">
  <!-- child content will be rendered here -->
</ul>
</div>

<style>
  .open-list { float: left; }
  .list-pending-tasks { float: right; }
  .delete-list { float: right; }

  #show-list-form { font-size: 12px; color: #cc0000; }
  #list-form { float: left; }
  #submit-task-form { font-size: 8px; }
  #remove-list-form { font-size: 8px; float: left; }
  
  ul#lists-sortable li {
    list-style-type: none;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: -10px;
    margin-bottom: -5px;
    padding: 15px;
    font-size: 1.0em; 
    height: 1.0em; 
  }
</style>

<script>
  $(function() { 
    // Button Effects
    $('button').button();
  
    // Sortable Effects
    $( "#lists-sortable" ).sortable({
      placeholder: "ui-state-highlight"
    });
    $( "#lists-sortable" ).disableSelection();
  
    // Display Add Task Form
    $('#show-list-form').click(function() {
      $('#list-utility').removeClass('hidden');
      $('#show-list-form').addClass('hidden');
    });
  
    // Remove Add Task Form
    $('#remove-list-form').click(function() {
      $('#list-utility').addClass('hidden');
      $('#show-list-form').removeClass('hidden');
    });
    
    // Hover Effect on List
    $("ul").on('mouseenter', '.list-item', 
      function() {
        $(this).removeClass("ui-state-default").addClass("ui-state-hover");
        $(this).find(".remove-list").removeClass("hidden"); }
      );
    $("ul").on('mouseleave', '.list-item', 
      function() {
        $(this).removeClass("ui-state-hover").addClass("ui-state-default"); 
        $(this).find(".remove-list").addClass("hidden"); }
    );
  });
</script>


