<!-- <div id="date-info">
  <% var now = new Date() %>
  <% var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday',
  'Friday','Saturday']; %>
  <% var months = ['January','February','March','April','May','June','July',
  'August','September','October','November','December']; %>

  <%= months[ now.getMonth() ] %> <%= now.getDate() %>
  <br>
  <%= days[ now.getDay() ] %>
  <br><br>
</div> -->

<!-- Fix Date above -->
<div id="date-info">
My Lists
</div>

<% if (lists.toJSON().length > 0)  { %>
  <div id="lists-overall-info">
    <!-- Completed Task Count -->
    <% var taskCountComplete = _.map(lists.toJSON(), function(list) { 
      return _.where(list.tasks, {complete: true}).length 
      }); %>
    <% var completedTasks = _.reduce(taskCountComplete, function(memo, num){ 
      return memo+num 
      }, 0); %>
    
    <!-- Pending Task Count -->
    <% var taskCountPending = _.map(lists.toJSON(), function(list) { 
      return _.where(list.tasks, {complete: false}).length 
      }); %>
    <% var pendingTasks = _.reduce(taskCountPending, function(memo, num){ 
      return memo+num 
      }, 0); %>
    
      <!-- Pomdoros Achieved -->
    <% var pomodorosCount = _.flatten(_.map(lists.toJSON(), function(list) {
      return _.map(list.tasks, function(task) { return task.pomodoro_actual }) 
        })
      ); %>
    <% var pomodorosAchieved = _.reduce(pomodorosCount, function(memo, num){ 
      return memo+num 
      }, 0); %>
    
    <span class="glyphicon glyphicon-check"></span> : <%= completedTasks %> Tasks Done
    <br>
    <span class="glyphicon glyphicon-unchecked"></span> : <%= pendingTasks %> Tasks Pending
    <br>
    <span class="glyphicon glyphicon-star"></span> : <%= pomodorosAchieved %> Pomodoros
    <br>
  </div>
<% } %>

<!-- Add New List Button-->
<center>
  <button type="button" 
          id="show-list-form"
          class="btn btn-danger">Add New List</button>
</center>
<!-- Add List Form -->
<form id="list-form" 
     class="hidden clearfix input-group">
  <input type="text" name="list[title]" id="list-input-field" class="form-control">
  <a class="input-group-addon glyphicon glyphicon-plus"
        id="submit-list-form"></a>
  <a class="input-group-addon glyphicon glyphicon-remove"
        id="remove-list-form"></a>
</form>

<ul id="list-items" class="list-group">
  <!-- child content will be rendered here -->
</ul>
</div>

<script>
  $(function() {   
    // Display Add Task Form
    $('#show-list-form').click(function() {
      $('#list-form').removeClass('hidden');
      $('#list-input-field').focus();
      $('#show-list-form').addClass('hidden');
    });
  
    // Remove Add Task Form
    $('#remove-list-form').click(function() {
      $('#list-form').addClass('hidden');
      $('#show-list-form').removeClass('hidden');
    });
    
    // Hover Effect on List
    $("ul").on('mouseenter', '.list-item', 
      function() {
        $(this).find(".remove-list").removeClass("hidden"); }
      );
    $("ul").on('mouseleave', '.list-item', 
      function() {
        $(this).find(".remove-list").addClass("hidden"); }
    );
  });
</script>


