<div id="date-info">
  <!-- Date Info -->
  <% var now = new Date() %>
  <% var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday',
  'Friday','Saturday']; %>
  <% var months = ['January','February','March','April','May','June','July',
  'August','September','October','November','December']; %>

  <%= months[ now.getMonth() ] %> <%= now.getDate() %>
  <br>
  <%= days[ now.getDay() ] %>
  <br><br>
</div>

<% if (lists.toJSON().length > 0)  { %>
  <div id="lists-overall-info">
    <!-- Completed Task Count -->
    <% var taskCountComplete = _.map(lists.toJSON(), function(list) { 
      return _.where(list.tasks, {complete: true}).length 
      }); %>
    <% var completedTasks = _.reduce(taskCountComplete, function(memo, num){ 
      return memo+num 
      }, 0); %>
    
    <!-- Pending Task Count -->
    <% var taskCountPending = _.map(lists.toJSON(), function(list) { 
      return _.where(list.tasks, {complete: false}).length 
      }); %>
    <% var pendingTasks = _.reduce(taskCountPending, function(memo, num){ 
      return memo+num 
      }, 0); %>
    
      <!-- Pomdoros Achieved -->
    <% var pomodorosCount = _.flatten(_.map(lists.toJSON(), function(list) {
      return _.map(list.tasks, function(task) { return task.pomodoro_actual }) 
        })
      ); %>
    <% var pomodorosAchieved = _.reduce(pomodorosCount, function(memo, num){ 
      return memo+num 
      }, 0); %>
    
    <span class="glyphicon glyphicon-check"></span> : <%= completedTasks %>
    <span class="glyphicon glyphicon-unchecked"></span> : <%= pendingTasks %>
    <span class="glyphicon glyphicon-star"></span> : <%= pomodorosAchieved %>
    <br><br>
  </div>
<% } %>

<div class="clearfix"></div>

<!-- Add New List Button-->
<button id="show-list-form" 
        class="ui-button ui-widget ui-state-default ui-corner-all
               ui-button-text-only" 
        role="button" 
        aria-disabled="false">
        <span class="ui-button-text">Add New List</span>
</button>

<!-- Add List Form -->
<div id="list-utility" class="hidden">
  <!-- Submit Button -->
  <form id="list-form">
    <input type="text" name="list[title]">
    <button class="ui-state-default ui-corner-all" 
            title=".ui-icon-plusthick" 
            id="submit-task-form">
            <span class="ui-icon ui-icon-plus"></span>
    </button>
  </form>
  <!-- Remove Form Button -->
  <button class="ui-state-default ui-corner-all" 
          title=".ui-icon-close" 
          id="remove-list-form">
          <span class="ui-icon ui-icon-close"></span>
  </button>
</div>

<div style="clear: both;"></div>

<ul id="lists-sortable" class="list-group">
  <!-- child content will be rendered here -->
</ul>
</div>

<script>
  $(function() { 
    // Button Effects
    $('button').button();
  
    // Sortable Effects
    $( "#lists-sortable" ).sortable({
      placeholder: "ui-state-highlight"
    });
    $( "#lists-sortable" ).disableSelection();
  
    // Display Add Task Form
    $('#show-list-form').click(function() {
      $('#list-utility').removeClass('hidden');
      $('#show-list-form').addClass('hidden');
    });
  
    // Remove Add Task Form
    $('#remove-list-form').click(function() {
      $('#list-utility').addClass('hidden');
      $('#show-list-form').removeClass('hidden');
    });
    
    // Hover Effect on List
    $("ul").on('mouseenter', '.list-item', 
      function() {
        $(this).find(".remove-list").removeClass("hidden"); }
      );
    $("ul").on('mouseleave', '.list-item', 
      function() {
        $(this).find(".remove-list").addClass("hidden"); }
    );
  });
</script>


